@page "/"

<PageTitle>Welcome to Forum!</PageTitle>

<div class="homepage">
    <section class="hero">
        <h1>Welcome to Forum!</h1>
        <p>Discover the all the posts.</p>
    </section>

    <section class="call-to-action">
        <h2>Get Started</h2>
        <p>Register to get started and contribute to creating posts.</p>
        <a href="/Register" class="btn">Register Now</a>
    </section>
</div>