@page "/ViewPosts"
@using Domain.Models
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IUserService userService
@inject IPostService postService
@inject NavigationManager navMgr

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts to be found</span>
}
else
{
    <div class="posts-container">
        @foreach (Post post in posts)
        {
            <div class="post-card">
                <h1 class="post-title">
                    <a href="/posts/@post.Id">@post.Title</a>
                </h1>
                <label class="post-author">Created by @post.Owner.Username</label>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            posts = await postService.GetPosts();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}
