.post-card {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.post-title {
    text-decoration: none;
    color: #222;
}

.post-author {
    color: #666;
}